{% extends 'base_discussion.html.twig' %}
    {% block header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ asset('img/discussion-bg.jpg') }}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ discussion.title }}</h1>
              <h2 class="subheading">__________________________</h2>
              <span class="meta">posted by
                <a href="#"> {{ discussion.user.FirstName|capitalize }}</a>
                on {{ discussion.created|date('F j o') }}
                {% if app.user and app.user.firstName == discussion.user.firstName %}
                 | <a href="#" data-toggle="modal" data-target="#deleteModal{{ discussion.id }}">
                    Delete
                  </a>
                  | <a href="{{ path('edit_discussion', {'id': discussion.id } ) }}" id="{{ discussion.id }}">
                    Edit
                  </a>
                {% endif %}
              </span>
               <br /><br />
              {% if app.user and user.isAdmin == true %}
                <button type="button" class="btn btn-outline btn-primary btn-lg" data-toggle="modal" data-target="#createModal">Create discussion</button>
              {% endif %}

            </div>
          </div>
        </div>
      </div>
    </header>
      <!-- Modal -->
    <div class="modal fade" id="deleteModal{{ discussion.id }}" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delete?</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete "{{ discussion.title }}"?.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <a class="btn btn-danger" href="{{ path('delete_discussion', {'id': discussion.id } ) }}">Go ahead</a>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}

{% block content %}
    <!-- discussion Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">

            {{ discussion.body|raw|nl2br }}
          </div>
          <section id="commentHolder" class="col-lg-8 col-md-10 mx-auto">
            <div class="titleBox">
              <label>Comments</label>
                <button type="button" class="close" aria-hidden="true">&times;</button>
            </div>
            {% for comment in discussion.comments %}
            {% if comment.replies is empty %}
              {% set classText = "display:none;" %}
              {% set direction = "down" %}
            {% else %}
              {% set classText = "" %}
              {% set direction = "" %}
            {% endif %}
            <div class="commentBox">
               <div id="comment{{comment.id}}" class="panel panel-default">
                  <div class="panel-heading">
                      <strong><a href="{{ path('user_profile', {'slug': comment.user.randomAuth} ) }}">{{ comment.user.firstName }}</a></strong> <span class="text-muted">commented on {{ comment.created | date('F jS, Y') }}</span>
                      {% if app.user %}
                        {% if app.user and app.user.firstName == discussion.user.firstName or app.user.firstName == comment.user.firstName %}
                         | <a href="#" class="text-muted sm-text" data-toggle="modal" data-target="#deleteCommentModal{{ comment.id }}">
                            Delete
                          </a>{% if app.user.firstName == comment.user.firstName %}
                          | <span style="cursor: pointer;" class="text-muted sm-text" id="editComment_{{ comment.id }}">
                            Edit
                          </span>{% endif %}
                        {% endif %}
                      {% endif %}

                  </div>
                  <div class="panel-body">
                      <p id="commentBody_{{comment.id}}">{{ comment.body }} </p>
                  </div>
                  <button type="button" style="display:none;" id="updateComment_{{comment.id}}" class="btn btn-default">Done</button>
                  {% if app.user %}
                  <div class="panel-footer">
                      <span title="click here to reply to {{ comment.user.firstName }}" style="cursor: pointer;" class="sm-text" id="reply_{{ comment.id }}"><mark>Reply to {{ comment.user.firstName }}'s comment</mark><i class="fa fa-chevron-{{direction}}"></i></span>
                  </div>  
                  {% else %}
                  <div class="panel-footer">
                    <span  class="date sm-text"><a href="{{ path('login') }}">Login</a> or <a href="{{ path('user_registration') }}">Register</a> to participate.</span>
                  </div>                      
                  {% endif %}                
              </div>
            </div>
            <div class="actionBox" id="commentReplyHolder_{{comment.id}}" style="{{ classText }}" >
                <ul id="commentList_{{comment.id}}" class="commentList">
                  {% for reply in comment.replies %}
                    <!-- set profile picture if present -->
                  {% set link_to_profile_picture = "photos/default_" ~ reply.user.gender ~ ".png" %}
                  {% for photo in reply.user.photos %}
                    {% if photo.profile == true %}
                      {% set link_to_profile_picture = "photos/profile/picture/" ~ reply.user.randomAuth ~ '.png' %}
                    {% endif %}
                  {% endfor %}
                    <li id="reply{{reply.id}}">
                        <div class="commenterImage">
                          <img src="{{ asset(link_to_profile_picture) }}" style="width:30px; height:30px;"/>
                        </div>
                        <div class="commentText">
                            <p id="replyBody_{{reply.id}}" class="">{{ reply.body }}</p> 
                            <button type="button" style="display:none;" id="updateReply_{{reply.id}}" class="btn btn-default">Done</button>
                            <span class="date sub-text"><a href="{{ path('user_profile', {'slug': reply.user.randomAuth} ) }}">
                              {{ reply.user.firstName }}</a> on {{ reply.created | date('F jS, Y') }}
                              {% if app.user %}
                                {% if app.user and app.user.firstName == discussion.user.firstName or app.user.firstName == reply.user.firstName %}
                                | <a style="cursor: pointer;" class="text-muted" id="deleteReply_{{ reply.id }}">
                                  Delete
                                </a>{% if app.user.firstName == reply.user.firstName %}
                                | <a style="cursor: pointer;" class="text-muted" id="editReply_{{ reply.id }}">
                                  Edit
                                </a>{% endif %}
                                {% endif %}
                              {% endif %}
                            </span>
                        </div>
                    </li>
                  {% endfor %}
                </ul>
               {{ include('templates/commentReply.html.twig') }}       
            </div>

      <!-- Delete comment Modal -->
    <div class="modal fade" id="deleteCommentModal{{ comment.id }}" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delete?</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete "{{ comment.body|length > 20 ? comment.body|slice(0, 20) ~ '...' : comment.body  }}"?.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <a class="btn btn-danger" href="{{ path('delete_comment', {'id': comment.id } ) }}">Go ahead</a>
          </div>
        </div>
      </div>
    </div>

          {% endfor %}
          </section>
           <div class="actionBox col-lg-8 col-md-10 mx-auto">
            <h5>Your comment about this discussion</h5>
             {{ include('templates/discussion_comment.html.twig') }}
           </div>
        </div>
      </div>
  </article>
{% endblock %}
