{% extends 'base_discussion.html.twig' %}
    {% block header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ asset('img/discussion-bg.jpg') }}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ discussion.title }}</h1>
              <h2 class="subheading">__________________________</h2>
              <span class="meta">discussioned by
                <a href="#"> {{ discussion.user.FirstName|capitalize }}</a>
                on {{ discussion.created|date('F j o') }}
              </span>
               <br /><br />
              {% if app.user %}
                <a href="{{ path('show_discussion', {'id': discussion.id} ) }}" class="btn btn-outline btn-primary btn-lg" >Back to discussion</a>
              {% endif %}

            </div>
          </div>
        </div>
      </div>
    </header>
    {% endblock %}

{% block content %}
    <!-- discussion Content -->
    {{ include('templates/createDiscussionModal.html.twig') }}       
{% endblock %}
{% block javascripts %}
  <script>
      $(document).ready(function() {
          $('#createModal').modal('show');
      });
  </script>
{% endblock %}