{% extends 'base.html.twig' %}
{% block header %}
<!-- Page Header -->
<header class="masthead" style=" height:100px; background-image: url('{{ asset('img/home-bg.jpg') }}')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      </div>
    </div>
  </div>
</header>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row clearfix well">
		<div class="col-md-2 column">

	        {% if profilePhoto is defined %}
	          <a href="{{ path('upload_photo') }}" title="Upload a photo">
	          	<img style="cursor:pointer" class="img-thumbnail" alt="140x140" id="profPic" src="{{ asset('photos/profile/picture/' ~ user.randomAuth ~ '.png') }}" />
	          </a>
	        {% else %}
	          <a href="{{ path('upload_photo') }}" title="Upload a photo">
	          	<img style="cursor:pointer" class="img-thumbnail" alt="140x140" id="profPic" src="{{ asset('photos/default_' ~ user.gender ~ '.png') }}" />
	          </a>
	        {% endif %}
		</div>
		<div class="col-md-8 column">
			<blockquote>
				<p>
					{{ user.firstName|capitalize }} {{ user.lastName|capitalize }}
				</p> 
			</blockquote>
		</div>
		<div class="col-md-2 column">
		 
			 <button class="btn btn-default btn-block" type="button">
                Poke
             </button>
             <button class="btn btn-default btn-block" type="button">
                Message
             </button>
             <button class="btn btn-default btn-block" type="button">
                Save
             </button>
                 		 
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-8 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Profile
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
					  <li class="nav-item">
					    <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Posts</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Photos</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Messages</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a>
					  </li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
					  <div class="tab-pane active" id="home" role="tabpanel">
					  {% if posts is defined %}
					  <div class="list-group">
					  	{% for post in posts %}
					  		<a href="#" class="list-group-item list-group-item-action">{{ post.title }}</a>
					  	{% endfor %}
					  		<a href="{{ path('homepage_with_conditions', {'column': 'user', 'condition': user.id} ) }}" class="list-group-item list-group-item-action active">See all posts</a>
						</div>
					  {% endif %}
					  </div>
					  <div class="tab-pane" id="profile" role="tabpanel">
					  	{% if photos is defined %}
						<div class="col-lg-12">		
		                    <div class="panel panel-default">
		                        <div class="panel-heading">
		                            Basic Table
		                        </div>
		                        <!-- /.panel-heading -->
		                        <div class="panel-body">
		                            <div class="table-responsive">
		                                <table class="table">
		                                    <thead>
		                                        <tr>
		                                            <th>Photo</th>
		                                            <th>Description</th>
		                                            <th>Manage</th>
		                                        </tr>
		                                    </thead>
		                                    <tbody>
		                                    	{% for photo in photos %}
		                                    		{% if photo.profile == true %}
	         	 										{% set profClass = "text-success sm-text" %}
	         	 									{% else %}	
	         	 										{% set profClass = "text-black sm-text" %}
	         	 									{% endif %}	
			                                        <tr>
			                                            <td><a href="{{ asset('photos/profile/' ~ photo.filename ) }}" class="gallery" alt="{{ photo.caption }} <br /> <a href='{{ path('view_photo', {'id': photo.id } ) }}' class='btn btn-primary'>View / Comment</a>"><img src="{{ asset('photos/profile/' ~ photo.filename ) }}" style="width:50px; height:50px; cursor:pointer" /></a></td>
			                                            <td>{{ photo.caption }}</td>
			                                            <td><a class='{{profClass}}' href="{{ path('crop_profile_picture', { 'id': photo.id } ) }}">Make Profile</a> | <a class="text-danger sm-text" href="{{ path('delete_photo', {'id': photo.id}) }}">Delete</a></td>
			                                            {# <td><span style="cursor:pointer" class={{profClass}} id="makeProfile_{{photo.id}}">Profile</span> | <a href="{{ path('edit_photo', {'id': photo.id}) }}">Edit</a> | <a href="{{ path('delete_photo', {'id': photo.id}) }}">Delete</a></td> #}
			                                        </tr>
		                                    	{% endfor %}
		                                    </tbody>
		                                </table>
		                                <a class="btn btn-block btn-primary" href="{{ path( 'view_all_photos', {'user': user.id} ) }}">See all photos</a>
		                            </div>
		                            <!-- /.table-responsive -->
		                        </div>
		                        <!-- /.panel-body -->
		                    </div>
		                    <!-- /.panel -->
		                </div>
		            	{% endif %}
					  </div>
					  <div class="tab-pane" id="messages" role="tabpanel">.asg</div>
					  <div class="tab-pane" id="settings" role="tabpanel">gaa.</div>
					</div>	
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
		</div>	
		<div class="col-md-4 column">
			<table class="table">
				<thead>
					<tr>
						<th>
							Details
						</th>
						<th>
							His/ Her
						</th> 
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							Last Online
						</td>
						<td>
							1 hour ago
						</td>
					</tr>
                    <tr>
						<td>
							Ethinicity
						</td>
						<td>
							White
						</td>
					</tr>
				</tbody>
			</table>
		</div>					
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(function(){
			$('.gallery').featherlightGallery({
				gallery: {
					fadeIn: 300,
					fadeOut: 300
				},
				openSpeed:    300,
				closeSpeed:   300,
			    afterContent: function() {
			        this.$legend = this.$legend || $('<div class="legend"/>').insertAfter(this.$content);
			        this.$legend.html(this.$currentTarget.attr('alt'));
			    }				
			});

		});
	</script>
{% endblock %}