{% extends 'base_article.html.twig' %}
    {% block header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ asset('img/article-bg.jpg') }}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ article.title }}</h1>
              <h2 class="subheading">__________________________</h2>
              <span class="meta">articleed by
                <a href="#"> {{ article.user.FirstName|capitalize }}</a>
                on {{ article.created|date('F j o') }}
              </span>
               <br /><br />
              {% if app.user %}
                <a href="{{ path('show_article', {'id': article.id} ) }}" class="btn btn-outline btn-primary btn-lg" >Back to article</a>
              {% endif %}

            </div>
          </div>
        </div>
      </div>
    </header>
    {% endblock %}

{% block content %}
    <!-- article Content -->
    {{ include('templates/createArticleModal.html.twig') }}       
{% endblock %}
{% block javascripts %}
  <script>
      $(document).ready(function() {
          $('#createModal').modal('show');
      });
  </script>
{% endblock %}