{% extends 'base_lesson.html.twig' %}

{% block content %}
  {% if app.request.query.get("page") is defined and app.request.query.get("page") is not empty %}
    {% set nextPagez = app.request.query.get("page") + 1 %}
  {% else %}
    {% set nextPagez = 2 %}
  {% endif %}
    <!-- Main Content -->
    <div class="container">
      <div class="row infinite-container">
        <div class="col-lg-8 col-md-10 mx-auto infinite-item">
          {% if lessons is not empty %}
          {% for lesson in lessons %}
            {% set lessonTitle = lesson.title|replace({" ": "-", "’": "", "'": ""}) %}
            <div class="post-preview">
              <a href="{{ path('show_lesson', {'id':lesson.id, 'title':lessonTitle } ) }}">
                <h2 class="lesson-title">
                  {{ lesson.title }}
                </h2>
                <h3 class="lesson-subtitle">
                  _______________________________
                </h3>
              </a>
              <p class="post-meta">
                <span> {{ lesson.lessonDate|date('l, F j o') }}</span>
                {% if app.user and app.user.isAdmin == true %}
                   | <a href="#" data-toggle="modal" data-target="#deleteModal{{ lesson.id }}">Delete</a> | <a href="{{ path('edit_lesson', {'id': lesson.id } ) }}" id="{{ lesson.id }}">Edit</a>
                {% endif %}
              </p>
            </div>
            <article>
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 col-md-10 mx-auto">

                    {{ lesson.body|raw|nl2br }}
                  </div>
                </div>
              </div>
            </article>

            <hr>

            <!-- deleteModal -->
            <div class="modal fade" id="deleteModal{{ lesson.id }}" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete?</h4>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to delete "{{ lesson.title }}"?.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a class="btn btn-danger" href="{{ path('delete_lesson', {'id': lesson.id } ) }}">Go ahead</a>
                  </div>
                </div>
              </div>
            </div>

          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
{% endblock %}
