{% extends 'base.html.twig' %}
{% block header %}
<!-- Page Header -->
<header class="masthead" style=" height:100px; background-image: url('{{ asset('img/home-bg.jpg') }}')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      </div>
    </div>
  </div>
</header>
{% endblock %}
{% block content %}
    <div class="container">
      <div class="row infinite-container">
        <div class="col-lg-8 col-md-10 mx-auto infinite-item">

            <h3>{{ conversation.subject }}</h3>

            <a href="{{ url('fdpm_list_conversations') }}" class=" btn btn-sm btn-primary">Back to conversations</a>
            <a href="{{ url('fdpm_leave_conversation', {'conversation': conversation.id}) }}" class=" btn btn-sm btn-warning">Leave conversation</a>

            <div>

                {% if conversation.recipients | length > 1 %}
                    Recipients :

                    {% for recipient in conversation.recipients %}
                        <mark class="sm-text">{{ recipient.username }}</mark>
                    {% endfor %}
                {% else %}
                    {{ 'conversation.alone' | trans }}
                {% endif %}
            </div>

            <ul class="list-group">
                {# A conversation MUST have messages #}
                {% for message in conversation.messages %}
                    <li class="list-group-item">
                        <span class="sm-text">{{ message.author.username }}, {{ message.created | date('M j o, h:i a') }}</span><br />{{ message.body }}
                    </li>
                {% endfor %}
                <li class="list-group-item">
                {{ form_start(form, {'method': 'post', 'attr': {'class': 'form-inline' }} ) }}

                  <div class="form-group mx-sm-3">
                        {{ form_errors(form.body) }}
                        {{ form_widget(form.body, {'attr': {'class': 'form-control', 'placeholder': 'Write' }} ) }}
                  </div>
                  <input type="submit" class="btn btn-primary" value="Send">
                {{ form_end(form) }}
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block includeCreate %}
{% endblock %}